body{
    background: MediumAquamarine;
    max-width: 1400px;

}


.img{
    position: relative;
    width: 980px;
    height:800px;
    overflow: auto;

}

.PicSpawnButton{
    padding: 10px;
    border-radius: 6px;
    font-size: 25px;
    color: GreenYellow;
    background-color: #dab32f;
    border-style: none;
    position: center;
    left: 350px;
}


