 background: url("back.jpg");
.grid{
    position: absolute;
    margin-right: 200px;
    margin-left: auto;
    width: 400px;
    height: 400px;
}

.not-active{
    background-color: white;
    width: 25%;
    height: 25%;
    box-shadow: black;
}

.active{
    background-image: url('cat.jpg');
    width: 25%;
    height: 25%;
    box-shadow: black;
}

.game{
    width: 400px;
}

.play-btn{
    margin-top: 1%;
    margin-bottom: 1%;
}
