
body {
    background: mistyrose;
    font-family: 'Comic Sans', sans-serif;
    margin: 0; 
    padding: 0; 
    font-size: 16px;
    line-height: 1.6;
}



h2{
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
}
.score{
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 40px;
    margin: auto 20px;
}

.end {
    text-align: center;
    margin: 15px;
}

.start {
    padding: 8px;
    color: #FFFF;
    background: #4C4C4C;
    margin: auto 20px;
    font-size: 20px;
    letter-spacing: 0.1em; /* отступ между символами */
}
